<div class="row animated fadeIn fast">
  <h1 class="animated fadeIn fast">Sobre la Aplicación</h1>
  <hr />
  <p class="fadeIn">
    Se realiza principalmente la aplicación Web con el patrón de diseño MVC
    (Modelo Vista Controlador), el cual los datos se albergan en el mismo código
    mediante un arreglo de objetos.
  </p>

  <small>¿Interesante Verdad?</small>

  <p>
    Se uso para la parte del Frontend <small>Angular</small> como principal
    herramienta, junto con otras Herramientas como HTML, CSS, Javascript, Nodejs
    y Bootstrap. Para lograr un resultado espectacular y moderno
  </p>

  <small>Gracias por tu visita, qué tal si seguimos exporando?</small>
</div>
<button
  [routerLink]="['/contenidos']"
  type="button"
  class="btn btn-outline-success btn-block"
>
  ¡Adelante!
</button>
