<h1 class="animated fadeIn fast">¡Hola Bienvenido!</h1>
<hr />
<p class="fadeIn">
  Te presento mi aplicación Web, una plataforma de educación la cual contiene
  recursos diferentes de educación y entretenimientos para que todos los
  usuarios e interesados en adquirir nuevos conocimientos lo puedan hacer. Esta
  es una actualización a la aplicación Web, ahora es moderna y atractiva para
  todo público. En nuestra aplicación Web, contamos con recursos desde
  literatura hasta deportes, mostrando su estado actual de Disponible o no, con
  su fecha de creación y claro esta, con mucha más información sobre el tema que
  más te interesé
</p>

<h6>
  Te invito a conocer todos nuestros contenidos que tenemos preparados para ti:
</h6>

<button
  [routerLink]="['/contenidos']"
  type="button"
  class="btn btn-outline-success btn-block"
>
  Empecemos...
</button>
